body {
  background-color: beige;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

main {
  max-width:80%;
  background-color: hotpink;
  flex: auto;
}

#uuid {
  font-size: 2rem;
  display:block;
}